<div (click)="toggleGraph()" *ngIf="showGraph" class="fixed z-10 inset-0 w-screen h-screen flex items-center justify-center flex-col blurred-bg " aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div #graph class=" blurred-bg relative h-96 w-96 bg-white bg-opacity-60 rounded-lg shadow-lg shadow-white flex justify-center items-center">
      <!-- First graph div -->
      <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" style="z-index: 1;">
        <ngx-trend *ngIf="playedGridReady" class="p-2" stroke="cyan" [height]="350" [width]="350" [data]="playedGridData" [autoDraw]="true" [autoDrawDuration]="3000" autoDrawEasing="ease-in" [radius]="20" [smooth]="true" [strokeWidth]="4"></ngx-trend>
        
      </div>
      
      <!-- Second graph div -->
      <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" style="z-index: 2;">
        <ngx-trend class="p-2" stroke="green" [height]="350" [width]="350" [data]="winGridData" [autoDraw]="true" [autoDrawDuration]="3000" autoDrawEasing="ease" [radius]="20" [smooth]="true" [strokeWidth]="4"></ngx-trend>
        
      </div>
  
      <!-- Third graph div -->
      <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" style="z-index: 3;">
        <ngx-trend class="p-2" stroke="red" [height]="350" [width]="350" [data]="loseGridData" [autoDraw]="true" [autoDrawDuration]="3000" autoDrawEasing="linear" [radius]="20" [smooth]="true" [strokeWidth]="4" ></ngx-trend>
        
      </div>
  
      <!-- Fourth graph div -->
      <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" style="z-index: 4;">
        <ngx-trend *ngIf="pushGridReady" class="p-2" stroke="orange" [height]="350" [width]="350" [data]="pushGridData" [autoDraw]="true" [autoDrawDuration]="3000" autoDrawEasing="cubic-bezier" [radius]="20" [smooth]="true" [strokeWidth]="4"></ngx-trend>
      </div>
    </div>

    <div class="flex flex-row p-3 mt-3 bg-slate-800 justify-between items-center rounded-lg w-auto h-8">
        <h2 class="p-2 text-md text-cyan-600">Games Played</h2>
        <h2 class="p-2 text-md text-emerald-600">Win Pattern</h2>
        <h2 class="p-2 text-md text-rose-600">Lose Pattern</h2>
        <h2 class="p-2 text-md text-amber-600">Push Pattern</h2>
    </div>

  </div>
  